.type-15 {
    background-image: url('/public/images/para-04.jpg');
    padding-top: 50px ;
    padding-bottom: 70px;

    .container {
        .service {
            display: inline-block;
            text-decoration: none;
            line-height: 50px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            font-size: 40px;
            letter-spacing: 1px;
            text-align: left !important;
        }

        .col-md-2 {
            position: relative;

            img {
                position: absolute;
                width: 30%;
                right: 16px;
            }

        }

        .col-md-3 {
            text-align: center;
            color: #ffffff;
            left: 150px;

            .number {
                font-size: 50px;
                font-weight: bold;
                font-family: 'Poppins', sans-serif;
            }

            .cmt-num {
                font-size: 15px;
                line-height: 30px;
                letter-spacing: 2px;
                font-weight: lighter;
            }
        }
    }
}