@font-face {
  font-family: Poppins;
  src: url(../font/Poppins-Regular.ttf);
}

.type-15 {
  font-family: Poppins;
  background-image: url("../images/15-1.png");
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.type-15 .rize p {
  font-weight: bold;
  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
}

.type-15 .rize p img {
  width: 55px;
}

.type-15 .rexbin {
  display: flex;
  width: 100%;
}

.type-15 .rexbin .rexcol1 {
  width: 25%;
}

.type-15 .rexbin .rexcol1 .number {
  font-size: 50px;
  font-weight: bold;
}

.type-15 .rexbin .rexcol2 {
  width: 25%;
}

.type-15 .rexbin .rexcol2 .number {
  font-size: 50px;
  font-weight: bold;
}

.type-15 .rexbin .rexcol3 {
  width: 25%;
}

.type-15 .rexbin .rexcol3 .number {
  font-size: 50px;
  font-weight: bold;
}

.type-15 .rexbin .rexcol4 {
  width: 25%;
}

.type-15 .rexbin .rexcol4 .number {
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .col-md-6 {
    display: inline-block;
    text-align: center;
  }
  .rexbin {
    flex-direction: column;
  }
}
