.type-23 {
  letter-spacing: 1px;
}

.type-23 .img-card .click-img {
  position: relative;
}

.type-23 .img-card .click-img span {
  position: absolute;
  top: -80px;
  right: 10px;
  background: #1bbc9b;
  padding: 5px 7px;
  color: #f1f1f1;
}

.type-23 .title {
  position: relative;
  margin-bottom: 45px;
  margin-top: 45px;
  color: #555555;
  font-size: 25px;
  line-height: 25px;
  font-family: 'Poppins', sans-serif;
}

.type-23 .title::after {
  width: 30px;
  height: 2px;
  background-color: #f1f1f1;
  content: "";
  position: absolute;
  left: 0px;
  bottom: -20px;
}

.type-23 .nametour {
  font-size: 20px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  color: #555555;
}

.type-23 .price {
  color: #9a9a9a;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Poppins', sans-serif;
}

.type-23 .btn {
  font-size: 13px;
  line-height: 13px;
  color: #9a9a9a;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #f1f1f1;
}

.type-23 .price-sale p {
  color: #9a9a9a !important;
  font-size: 16px !important;
  line-height: 16px !important;
}

.type-23 .price-sale p span {
  text-decoration: line-through;
}

.type-23 .price-sale p a {
  color: #9a9a9a;
  font-size: 16px;
  line-height: 16px;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .type-23 {
    display: inline-block;
    text-align: center;
  }
  .type-23 .btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 989px) {
  .type-23 .img-card .click-img {
    position: relative;
  }
  .type-23 .img-card .click-img span {
    position: absolute;
    top: -50px;
    right: 10px;
    background: #1bbc9b;
    padding: 5px 7px;
    color: #f1f1f1;
  }
}
