@font-face {
  font-family: Poppins;
  src: url(../font/Poppins-Regular.ttf);
}

.type-9 .container .txt1 {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  font-family: Poppins;
  color: #555555;
}

.type-9 .container .txt2 {
  color: #9a9a9a;
  font-family: Poppins;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
}

.type-9 .container .form-group label {
  color: #9a9a9a;
  font-family: Poppins;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
}

.type-9 .container .form-group input {
  border-radius: 30px;
}

.type-9 .container .form-group textarea {
  border-radius: 30px;
  padding: 45px;
}

.type-9 .container .btn {
  background-color: #85cdca;
  color: #fff;
  border-color: #fff;
  border-radius: 30px;
  border-style: solid;
  padding: 10px 20px;
}

.type-9 .container .btn:hover {
  color: #85cdca;
  background-color: #fff;
  border: 1px solid #85cdca;
}

.type-9 .container .p1 {
  color: #555555;
  font-family: Poppins;
  font-size: 14px;
  line-height: 27px;
  border-bottom: 1px solid #555555;
}

.type-9 .container .infor1 a {
  position: absolute;
  right: 10px;
  color: #9a9a9a;
  text-decoration: none;
  font-family: Poppins;
}

.type-9 .container .infor1 a:hover {
  text-decoration: none;
  color: #9a9a9a;
  font-family: Poppins;
}

.type-9 .container .avaiable {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  font-family: Poppins;
  color: #9b9b9b;
}

.type-9 .container .phone {
  font-size: 60px;
  line-height: 60px;
  color: #555555;
  font-family: Poppins;
  letter-spacing: 1px;
}

@media screen and (max-width: 480px) {
  .type-9 .row .col1 {
    margin-bottom: 20px;
  }
  .type-9 .phone {
    text-align: center;
  }
  .type-9 .avaiable {
    text-align: center;
  }
  .type-9 iframe {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
}
