@font-face {
  font-family: Poppins;
  src: url(../font/Poppins-Regular.ttf);
}

.type_18 {
  letter-spacing: 1px;
}

.type_18 .txt {
  text-align: right;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  font-family: Poppins;
  color: #555555;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.type_18 .col-md-3 p {
  font-size: 14px;
  line-height: 27px;
  font-family: Poppins;
  color: #9a9a9a;
  display: block;
  margin-block-start: 3em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0;
}

.type_18 .video {
  width: 70%;
}

.type_18 .btn-play {
  width: 100%;
  display: block;
  margin-left: 150px;
  margin-right: auto;
  position: relative;
}

.type_18 .img-center {
  display: block;
  margin-left: 150px;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .type_18 .txt {
    text-align: center;
  }
  .type_18 .img-center {
    display: block;
    margin-left: 48px;
    margin-right: auto;
  }
}

body {
  background: #121212;
}

/* ------------ CARD ------------ */
.card {
  width: 70vw;
  height: calc(9/16 * 70vw);
  max-width: calc(16/9 * 70vh);
  max-height: 70vh;
  display: flex;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1613479/inception.jpg") center center/cover;
  overflow: hidden;
}

.card-play {
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  margin: auto;
  opacity: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1613479/play.svg") center center/cover;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.card-play:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #000;
  transition: all .5s ease-out;
}

.card-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #000;
}

.card-video iframe {
  width: 100%;
  height: 100%;
}

.card:after {
  content: '';
  width: 250%;
  height: 250%;
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  opacity: 0;
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.3), transparent);
  transition: opacity 0.5s ease-out;
}

/* ------------ STATES ------------ */
.card:hover:after,
.card:hover .card-play {
  opacity: 1;
}

.video-is-open:after {
  display: none;
}

.video-is-open .card-play {
  opacity: 1;
}

.video-is-open .card-play:after {
  width: 2vh;
  height: 2vh;
  transform: translate(-50%, -50%) scale(88.88889);
  transition: transform .5s ease-out;
}
