.type-4 {
    font-family: 'Poppins', sans-serif;
    .heighrow{
        margin-top: 40px;
    }
    .bordersolid{
        border: 1px solid #f1f1f1;
    }
    .bg-orange{
        background: #e8a87c;
        .text-white{
            color: #ffffff;
        }
        .btn-white{
            color:#e8a87c;
            background: #ffffff;
            border-radius: 30px;
            padding: 7px 20px;
        }
        .btn-white:hover{
            color:#ffffff;
            background:#e8a87c ;
            border-radius: 30px;
            padding: 7px 20px;
            text-decoration: none;
            border: 1px solid #ffffff;
        }
    }
    .bg-green{
        background: #85cdca;
        .text-white{
            color: #ffffff;
        }
        .btn-green{
            color:#85cdca;
            background: #ffffff;
            border-radius: 30px;
            padding: 7px 20px;
        }
        .btn-green:hover{
            color:#ffffff;
            background: #85cdca;
            border-radius: 30px;
            padding: 7px 20px;
            text-decoration: none;
            border: 1px solid #ffffff;
        }
    }
    
    .pd {
        display: flex;
        width: 100%;
        .btn-default-green{
            background-color: #85cdca;
            border-radius: 30px;
            padding: 7px 20px;
            color: #ffffff;
        }
        .btn-default-green:hover{
            background-color: #ffffff;
            border-radius: 30px;
            padding: 7px 20px;
            color: #85cdca;
            text-decoration: none;
            border: 1px solid #85cdca;
        }
        .img {

            width: 50%;
        }

        .cmt {
            width: 50%;
            padding-left: 30px;
            padding-top: 30px;

            .title {
                color: #9a9a9a;
                letter-spacing: 2px;
                font-size: 14px;
                line-height: 27px;
                padding-bottom: 10px;
            }
            .ttname{
                font-weight: bold;
                font-size: 20px;
                line-height: 20px;
                color: #555555;
                padding-bottom: 20px;
            }
            .descrip{
                font-size: 14px;
                line-height: 27px;
                color: #9a9a9a;
                padding-bottom: 20px;
            }
            .btn-default{
                background-color: #e27d60;
                border-radius: 30px;
                padding: 7px 20px;
                color: #ffffff;
            }
            .btn-default:hover{
                background-color: #ffffff;
                border-radius: 30px;
                padding: 7px 20px;
                color: #e27d60;
                text-decoration: none;
                border: 1px solid #e27d60;
            }
        }
    }
}