$color_1: #aaa;
$color_2: #fff;
$color_3: #666;
$color_4: #777;
$color_5: inherit;
$color_6: #a3a3a3;
$border_color_1: #aaa;

.type_3{
	.footer-top {
		padding: 60px 0;
		background: #333;
		text-align: left;
		color: $color_1;
		h3 {
			padding-bottom: 10px;
			color: $color_2;
		}
	}
	.footer-about {
		img.logo-footer {
			max-width: 74px;
			margin-top: 0;
			margin-bottom: 18px;
		}
		p {
			a {
				color: $color_1;
				border-bottom: 1px dashed #666;
				&:hover {
					color: $color_2;
					border-color: $border_color_1;
				}
				&:focus {
					color: $color_2;
					border-color: $border_color_1;
				}
			}
		}
	}
	.footer-contact {
		p {
			word-wrap: break-word;
			a {
				color: $color_1;
				border-bottom: 1px dashed #666;
				&:hover {
					color: $color_2;
					border-color: $border_color_1;
				}
				&:focus {
					color: $color_2;
					border-color: $border_color_1;
				}
			}
		}
		i {
			padding-right: 10px;
			font-size: 18px;
			color: $color_3;
		}
	}
	.footer-social {
		a {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 8px;
			color: $color_4;
			border: 0;
			&:hover {
				color: $color_1;
				border: 0;
			}
			&:focus {
				color: $color_1;
				border: 0;
			}
		}
		i {
			font-size: 24px;
			vertical-align: middle;
		}
	}
	.footer-bottom {
		padding: 15px 0;
		background: #444;
		text-align: left;
		color: $color_1;
	}
	.footer-copyright {
		p {
			margin: 0;
			padding: 0.5rem 0;
			text-align: center;
		}
		a {
			color: $color_2;
			border: 0;
			&:hover {
				color: $color_1;
				border: 0;
			}
			&:focus {
				color: $color_1;
				border: 0;
			}
		}
	}
	.uppercase {
		text-transform: uppercase;
	}
	.btn {
		display: inline-block;
		background: transparent;
		color: $color_5;
		font: inherit;
		border: 0;
		outline: 0;
		padding: 0;
		transition: all 200ms ease-in;
		cursor: pointer;
	}
	.btn--primary {
		background: #7f8ff4;
		color: $color_2;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		padding: 12px 36px;
		&:hover {
			background: #6c7ff2;
		}
		&:active {
			background: #7f8ff4;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
		}
	}
	.btn--inside {
		margin-left: 0px;
	}
	.form__field {
		width: 220px;
		background: #fff;
		color: $color_6;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
	}
	
}